@media (max-width: 809px) {
  body {
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
  }
  .container-box {
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    background-color: white;
    position: relative;
    border-radius: 24px;
    height: 100%;
    box-shadow: 0px 10px 20px -5px rgba(47, 47, 106, 0.1);
    justify-content: center;
    width: auto;
  }

  .stacks-container-box {
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    position: relative;
    border-radius: 24px;
    height: 100%;
    box-shadow: 0px 10px 20px -5px rgba(47, 47, 106, 0.1);
    justify-content: center;
    width: auto;
  }
}

@media (max-width: 1200px) {
  .stacks-container-box,
  .container-box {
    padding: 25px;
  }
}