@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-font: "Inter", sans-serif;
  --primary-box-shadow: box-shadow: 0px 10px 20px -5px rgba(47, 47, 106, 0.1);
  --light-green: #CFFCDF;
  --dark-green: #08782F;
  --gray: #8B8BA7;
  --dark-blue: #424257;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--primary-font),
    monospace;
}
